#main .ui-grid-lmsc .ui-link .box-img{ padding:18% 0;}
#main .tab-content-fenlei .ui-grid-header a{padding:5px; width:50px; height:50px; }
#main .ui-listview-shoppingCart .ui-block-c p{ line-height:2em;}
.box-commodity .box-detail p.price{ line-height:2.5em;}
