#main .ui-grid-lmsc .ui-link .box-img{ padding:25% 0;}
#main .tab-content-fenlei .ui-grid-header a{padding:5px; width:55px; height:55px; }
#main .ui-listview-shoppingCart .ui-block-c p{ line-height:2.9em;}
.box-commodity .box-detail p.price{ line-height:3.6em;}
