#main .ui-grid-lmsc .ui-link .box-img{ padding:20px 0; border-radius: 200px;}
#main .tab-content-fenlei .ui-grid-header a{padding:10px; width:55px; height:55px; }
#main .ui-listview-shoppingCart .ui-block-c p{ line-height:2.9em;}
.box-commodity .box-detail p.price{ line-height:4.5em;}